<f:layout name="Default" />

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="main">
    <div class="simplePollWrap">
        <div class="simplePollMain simplePoll-{simplePoll.uid}">
            <f:if condition="{simplePoll.image}">
                <div class="simplePollImage">
                    <f:image src='{simplePoll.image.originalResource.publicUrl}' treatIdAsReference='0' />
                </div>
            </f:if>
            <h3>{simplePoll.question}</h3>
            <f:form action="vote" name="simplePoll" controller="SimplePoll" method="post" arguments="{simplePoll:simplePoll}">
                <ul>
                    <f:for each="{answers}" as="answer">
                        <div class='simplePollRow'>
                            <li>
                                <f:form.radio value="{answer.uid}" name="simplePollRadio" class="simplePollRadioClass" />
                                <!--<input type="radio" name="simplePollRadio" value="{answer.uid}" />-->
                                <span class='simplePollRadioText'>{answer.title}</span>
                            </li>
                        </div>
                    </f:for>
                </ul>
                <input id="simplePollVote" type="submit" value="{f:translate(id:'tx_simplepoll.voteButton')}" />
                <f:if condition='{simplePoll.showResultLink}'>
                    <f:link.action id="simplePollSeeVotes" action='seeVotes' controller='SimplePoll' arguments='{simplePoll:simplePoll}'>
                        {f:translate(id:'tx_simplepoll.showResultsLink')}
                    </f:link.action>
                </f:if>
            </f:form>
            <div class='clearfix'></div>
        </div>
    </div>
    
    <script type="text/javascript">
        
        var cookieBlock = '{settings.cookieBlock}';   
        
        $(document).ready(function(){
            /**
             * add click events - adds the click events needed to use ajax calls for the vote and seeVotes buttons/links
             * 
             * @returns boolean always returns flase to prevent the original click event
             */
            function addClickEvents() {
                // this is the ajax override for the vote button
                $('#simplePollVote').click(function(e){

                    if(cookieBlock == '1' || cookieBlock == 'true'){
                        if(! navigator.cookieEnabled) {
                            alert('Cookies need to be activated.');
                            return false;                        
                        }
                    }
                    // if no radio button is active, don't do anything
                    if($('input[class=simplePollRadioClass]:checked').length === 0) {
                        return false;
                    }

                    var ajaxURL = '<f:uri.action action="vote" controller="SimplePoll" pageType="1121" arguments="{simplePoll:simplePoll}" />';
                    var form = $('form');
                    $.post(ajaxURL, form.serialize(), function(response) {
                        // replace the contents of the simple poll with the view returned from PHP
                        $('.simplePollWrap').replaceWith($(response).find('.simplePollWrap'));
                        // here we need to check if the returned and replaced view contains a vote/seeVotes button again
                        // if so, that one won't have the click evenet needed for the ajax call. so we attach the events again.
                        if($('#simplePollVote').length === 1)
                        {
                            addClickEvents();
                        }
                    });
                    return false;
                });
                // this is the ajax override for the see votes link
                $('#simplePollSeeVotes').click(function(e){
                    var ajaxURL = '<f:uri.action action="seeVotes" controller="SimplePoll" pageType="1121" arguments="{simplePoll:simplePoll}" />';
                    $.post(ajaxURL, function(response) {
                        // replace the contents of the simple poll with the view returned from PHP
                        $('.simplePollWrap').replaceWith($(response).find('.simplePollWrap'));
                    });
                    return false;
                });
            }
            // initiate the ajax click bindings. comment the next line to use regular page calls instead ajax
            addClickEvents();
        });
    </script>    
    
</f:section>
</div>